@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --background: #2f3032;
  --foreground: #ffffff;
  --primary: #ff6500;
  --secondary: #23007d;
  --tertiary: #f68e1e;
  --gradient: linear-gradient(
    45deg,
    var(--primary),
    var(--secondary),
    var(--tertiary)
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2f3032;
    --foreground: #ffffff;
    --primary: #ff6500;
    --secondary: #23007d;
    --tertiary: #f68e1e;
    --gradient: linear-gradient(
      45deg,
      var(--primary),
      var(--secondary),
      var(--tertiary)
    );
  }
}

* {
  scroll-behavior: smooth;
}

body {
  background: #000;
  color: var(--foreground);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.hero-gradient-text {
  background: linear-gradient(45deg, var(--tertiary) 20%, var(--primary) 25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* text-shadow: 0 5px 10px #dddd19; */
}
.hero-gradient-text-2 {
  background: linear-gradient(180deg, var(--tertiary) 30%, var(--primary) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* text-shadow: 0 5px 10px #dddd19; */
}

/* ////////////////////////////////  BLOG  ////////////////////////////////// */
.blog h1 {
  font-size: 2.5em;
  color: #1a1a1a;
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 700;
}

.blog h2 {
  font-size: 1.8em;
  color: #222;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

.blog h3 {
  font-size: 1.4em;
  color: #333;
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  font-weight: 500;
}

.blog p {
  font-size: 1.1em;
  margin-bottom: 1.5em;
  color: #444;
}

.blog ul,
.blog ol {
  padding-left: 20px;
  margin-bottom: 1.5em;
}

.blog li {
  margin-bottom: 0.5em;
}

.blog blockquote {
  border-left: 4px solid #007bff;
  padding-left: 15px;
  margin: 2em 0;
  font-style: italic;
  color: #555;
}

.blog img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  display: block;
  margin: 2em auto;
}

.blog a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.blog a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.blog hr {
  border: none;
  border-top: 1px solid #aaa;
  margin: 2em 0;
}

/* //////////////////////////////////////// Header ////////////////////////////////////// */
.header_admin {
  position: relative;
  cursor: pointer;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_admin:hover .header_adminContent {
  display: block;
}
.header_adminContent {
  display: none;
  overflow: hidden;
  padding: 20px 30px;
  position: absolute;
  bottom: 0;
  transform: translateY(100%) translateX(-10%);
  background: var(--tertiary);
  border-radius: 0.4em;
  color: #fff;
  transition: 0.3s;
  z-index: 99999;
}

.heading {
  background: linear-gradient(to top right, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* text-shadow: 0 5px 10px #dddd19; */
}

/* //////////////////////////////////////// Blog ////////////////////////////////////// */

.blog-modal-sanitized p {
  font-size: 18px;
  color: #000;
}
.blog-modal-sanitized a {
  color: var(--primary);
}
.blog-modal-sanitized br {
  width: 100%;
  height: 1.2rem;
}

.blog-modal-sanitized h1 {
  margin-bottom: 10px;
  font-weight: 500;
  color: #0b5b05;
}
.blog-modal-sanitized h2 {
  margin-bottom: 10px;
  font-weight: 500;
  color: #0b5b05;
}
.blog-modal-sanitized h3 {
  margin-bottom: 10px;
  font-weight: 500;
  color: #0b5b05;
}
.blog-modal-sanitized h4 {
  margin-bottom: 10px;
  font-weight: 500;
  color: #0b5b05;
}
/* //////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////// Pagination ////////////////////////////////////// */
.pagination {
  width: fit-content;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.pagination__page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  border-radius: 50%;
  /* background-color: #45B1BE; */
  color: #000;
  margin: 0 5px;
  cursor: pointer;
}
.pagination__pageActive {
  background-color: var(--primary);
  color: #fff;
}
.pagination__pagePrev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  border-radius: 50%;
  margin-right: 30px;
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
}
.pagination__pageNext {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 1.5rem;
  border-radius: 50%;
  margin-left: 30px;
  background-color: var(--primary);
  color: #fff;
  cursor: pointer;
}
/* ///////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////// background gradient loading animation  //////////////////////// */
.loading {
  background: linear-gradient(-45deg, #bbb 0%, #fff 49%, #fff 50%, #bbb 100%);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}
.loading1 {
  background: linear-gradient(-45deg, #bbb 0%, #fff 49%, #fff 50%, #bbb 100%);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
  animation-delay: 0.1s;
}
.loading2 {
  background: linear-gradient(-45deg, #bbb 0%, #fff 49%, #fff 50%, #bbb 100%);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
  animation-delay: 0.2s;
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}
/* ///////////////////////////////////////////////////////////////////////////////////////// */

/* ############################################  Media Queries    ############################################# */
@media only screen and (max-width: 599px) {
  .sidebar {
    position: absolute;
    z-index: 1;
  }
  .blog {
    padding: 20px;
  }
  .top-section {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }
  .top-section-r {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .top-section-search {
    width: 100%;
  }
  .blog-card {
    flex-direction: column;
    width: 100%;
    height: 200px;
  }
  .blog-card img {
    width: 100%;
    height: 100px;
  }
  .pagination {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .top-section {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }
  .top-section-r {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px) {
  .top-section {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }
  .top-section-r {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
/* ############################################################################################################# */
